# src/main/resources/application-docker.yml
server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres-db:5432/kidstinyworld_db
    username: kidsworld_user
    password: supersecretpassword
  kafka:
    bootstrap-servers: kafka:9092
  data:
    redis:
      host: redis
      port: 6379