# src/main/resources/application-docker.yml
spring:
  datasource:
    url: jdbc:postgresql://postgres-db:5432/orkhanalizade
    username: postgres
    password: murad2016
  kafka:
    bootstrap-servers: kafka:9092
  data:
    redis:
      host: redis
      port: 6379